*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins' sans-serif;
}

nav{
    background-color: black;
    height: 50px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 10px;
    transition: all 1s ease;
}
li:hover a{
    color:blue;
}
nav a{
    text-decoration: none;
    color: white;
}
table,th,td{
    border: 1px solid rgb(207,207,207);
    border-collapse: collapse;
    padding: 5px;
    justify-content: center;
}
#books, #form{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    margin-top: 30px;
    border-radius: 3px;
    padding: 10px;
    margin-inline: auto;
    -webkit-box-shadow: 0px 0px 68px 12px rgba(0 ,0, 0, 0.26);
    -moz-box-shadow: 0px 0px 68px 12px rgba(0 ,0, 0, 0.26);
      box-shadow: 0px 0px 68px 12px rgba(0 ,0, 0, 0.26); 
}
form{
    max-top:10px;
}

input{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid rgb(207,207,207);
    border-radius: 3px;
    box-sizing: border-box;

}
input[type="submit"]{
    background-color: black;
    color: white;

}